
.edit_event_container{
  display: flex;
  flex-direction: column;
  // background-color: aqua; 
  width: 100%;

  .edit_event_wrapper{
    display: flex;
    flex-direction: column;
    // background-color: blue;
    justify-content: center;
    align-items: center;
    width: 100%;
    .edit_event_input_wrapper{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      margin-bottom: 30px;
      .edit_event_input{
        margin-top: 5px;
        width: 50%;
        height: 30px;
        border-radius: 10px;
        padding-left: 10px;
        outline: none;
      }
      .edit_event_textarea{
        margin-top: 5px;
        padding-top: 10px;
        width: 50%;
        height: 100px;
        border-radius: 10px;
        padding-left: 10px;
        outline: none;
        max-width: 80%;
        min-width: 50%;
        min-height: 150px;
        max-height: 150px;
        // resize: none;
      }
      .banner_image{
        width: 200px;
        height: 200px;
      }
    }
  }
}